*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 100px;
    width: 140px;
    margin: 20px;
}

header{
    display: flex;
    gap: 400px;
}

.list{
    display: flex;
    justify-items: center;
    gap: 16px;
    list-style: none;
    margin: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.list a{
    text-decoration: none;
    color: grey;
    font-family: Montserrat;
    font-size: 1rem;
    transition: 1s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.user-btn{
    width: 110px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(0,255,255,0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Montserrat;
    border-radius: 4px;
    color: rgb(0, 140, 255);
    border: 1px rgb(0, 140, 255);
    transition: 1s ease-in-out;
}

.list a:hover{
    transition: translateY(20px);
    background-color: rgb(0, 255, 255,0.2);
    color: rgb(0, 140, 255);
    font-size: 1.1rem;
}

.user-btn:hover{
    color: grey;
    background-color: lightblue;
    cursor: pointer;
    transition: translateY(20px);
    border: 1px solid black;
    font-size: 0.9rem;
}

.hero-section{
    min-height: 100vh;
    display: flex;
    gap: 40px;

}

.left{
    flex-basis: 30%;
    margin-top: 60px;
    margin-left: 150px;
}

.right{
    flex-basis: 50%;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.left h2{
    color: black;
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    font-family: Montserrat;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.left p{
    color: grey;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    font-family: Montserrat;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.left button{
    width: 220px;
    height: 60px;
    background-color: rgb(5,184,255);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 30px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    border-radius: 15px;
    border: 1px solid rgb(5,184,255);
    color: white;
}

.image{
    display: grid;
    height: 600px;
    width: 600px;
    margin-left: 120px;
    margin-top: 30px;
}




